#Base packages:
import(methods)
#import(stats)

#CRAN packages:
import(statmod)
import(plotrix)
import(stringr)
#import(Rcpp)
#import(RcppArmadillo)
#import(ggplot2)
import(SummarizedExperiment);
import(DESeq2);

#Bioconductor packages:
import(Biobase)
import(BiocGenerics)
import(BiocParallel)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)

#CRAN function imports:
importFrom(Hmisc,wtd.quantile)
importFrom(locfit,locfit)

##It's not clear why this is imported in DESeq2. Maybe it overwrites a version of coef that I don't see?
##In any case, none of my code has any direct calls to coef so far as I can tell.
##importFrom(stats,coef)

#Bioconductor function imports:
importFrom(genefilter,filtered_p)
importFrom(genefilter,rowVars)
importFrom(geneplotter,plotMA)


#useDynLib(JunctionSeq)

export(
  runJunctionSeqAnalyses,                      #             
  writeCompleteResults,                    #
  buildAllPlots,                    #
  
  readJunctionSeqCounts,             #
  estimateJunctionSeqDispersions,                    #
  testForDiffUsage,                    #
  estimateEffectSizes,
  estimateJunctionSeqSizeFactors,
  fitJunctionSeqDispersionFunction,
  
  readAnnotationData,                    #
  
  plotMA,                    #
  plotDispEsts,                    #
  buildAllPlotsForGene,                    #
  plotJunctionSeqResultsForGene,                    #
  
  writeSizeFactors,
  
  writeExprBedTrack,
  writeSigBedTrack,
  
  JUNCTIONSEQ.DEFAULT.COLOR.LIST
  
  #Depreciated:
  #fitDispersionFunction,
  #estimateSizeFactors, 
  #generateCompleteResults,                    # 
  #generateAllExpressionEstimates                    #
)
exportClasses( 
  "JunctionSeqCountSet"
)
