#Base packages:
import(methods)

#CRAN packages:
import(statmod)
import(plotrix)
import(stringr)
import(SummarizedExperiment);
import(DESeq2);

#Bioconductor packages:
import(Biobase)
import(BiocGenerics)
import(BiocParallel)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)

#CRAN function imports:
importFrom(Hmisc,wtd.quantile)
importFrom(locfit,locfit)

#Bioconductor function imports:
importFrom(genefilter,filtered_p)
importFrom(genefilter,rowVars)
importFrom(geneplotter,plotMA)

export(
  runJunctionSeqAnalyses,                                 
  writeCompleteResults,                    
  buildAllPlots,                    
  
  readJunctionSeqCounts,             
  estimateJunctionSeqDispersions,                    
  testForDiffUsage,                    
  estimateEffectSizes,
  estimateJunctionSeqSizeFactors,
  fitJunctionSeqDispersionFunction,
  
  readAnnotationData,                    
  
  plotMA,                    
  plotDispEsts,                    
  buildAllPlotsForGene,                    
  plotJunctionSeqResultsForGene,                    
  
  writeSizeFactors,
  
  writeExprBedTrack,
  writeSigBedTrack,
  
  JUNCTIONSEQ.DEFAULT.COLOR.LIST
)

exportClasses( 
  "JunctionSeqCountSet"
)
