import(statmod, plotrix, methods, stringr, Biobase, locfit)

export(
  runJunctionSeqAnalyses,                      #             
  writeCompleteResults,                    #
  buildAllPlots,                    #
  
  readJunctionSeqCounts,                    #
  estimateSizeFactors,
  estimateJunctionSeqDispersions,                    #
  fitDispersionFunction,
  testForDiffUsage,                    #
  estimateEffectSizes,
  
  readAnnotationData,                    #
  
  plotMA,                    #
  plotDispEsts,                    #
  buildAllPlotsForGene,                    #
  plotJunctionSeqResultsForGene,                    #
  
  writeExprBedTrack,
  writeSigBedTrack

  #Depreciated:
  #generateCompleteResults,                    # 
  #generateAllExpressionEstimates                    #
)
exportClasses( 
  "JunctionSeqCountSet"
)
