#Base packages:
import(methods)

#CRAN packages:
import(statmod)
import(plotrix)
import(stringr)
import(Rcpp)
import(RcppArmadillo)
import(ggplot2)

#Bioconductor packages:
import(Biobase)
import(BiocGenerics)
import(BiocParallel)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)

#CRAN function imports:
importFrom(Hmisc,wtd.quantile)
importFrom(locfit,locfit)
importFrom(stats,coef)

#Bioconductor function imports:
importFrom(genefilter,filtered_p)
importFrom(genefilter,rowVars)
importFrom(geneplotter,plotMA)


useDynLib(JunctionSeq)

export(
  runJunctionSeqAnalyses,                      #             
  writeCompleteResults,                    #
  buildAllPlots,                    #
  
  readJunctionSeqCounts,                    #
  estimateSizeFactors,
  estimateJunctionSeqDispersions,                    #
  fitDispersionFunction,
  testForDiffUsage,                    #
  estimateEffectSizes,
  
  readAnnotationData,                    #
  
  plotMA,                    #
  plotDispEsts,                    #
  buildAllPlotsForGene,                    #
  plotJunctionSeqResultsForGene,                    #
  
  writeSizeFactors,
  
  writeExprBedTrack,
  writeSigBedTrack,
  
  JUNCTIONSEQ.DEFAULT.COLOR.LIST
  
  #Depreciated:
  #generateCompleteResults,                    # 
  #generateAllExpressionEstimates                    #
)
exportClasses( 
  "JunctionSeqCountSet"
)
